<% unless battle_result.error %>
  <canvas id="gameCanvas" width="800" height="450"></canvas>
  <script src="frameworks/cocos2d-html5/CCBoot.js"></script>
  <script src="main.js"></script>
<% end %>

<div>
  <% battle_result.submissions.each.with_index do |submission, index| %>
    <p>
    AI <%= index %>: <%= submission.ai_file.filename %> (<%= submission.user.name %>)
    </p>
  <% end %>
</div>

<%= render :partial => 'battle_results/detail', :locals => { :battle_result => battle_result } %>
